<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  <h1>You have successfully register for an account!</h1>
  <p>@@@@@@@@@@@@@@@@@</p>
  <a href="/login">Login HERE!!!</a>
</body>

</html>