<!DOCTYPE html>
<html>
<style>
  body {
    text-align: center;
  }

  mixin disable {
    outline: none;
    border: none;
  }

  mixin easeme {
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
    transition: 1s ease;
  }

  p {
    font: 13px Open Sans;
    color: #6e6e6e;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .wrapper {
    width: 420px;
    margin: auto;
  }

  h1 {
    padding: 30px 0px 0px 0px;
    font: 25px Helvetica;
    color: #000;
    text-transform: uppercase;
    margin: 0px;
    font-size: 50px;
  }

  .form {
    width: full;
  }

  .button {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background: #222222;
    font: 14px Helvetica;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #000;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    text-decoration: none;
  }

  .button:hover {
    opacity: .9;
    cursor: pointer;
  }

  .button:active {
    border: none;
    position: relative;
    top: 3px;
    box-shadow: 0px 0px #2c3e50;
    background: #2c3e50;
  }
</style>

<head>
  <title>Login</title>
</head>

<body>
  <h1>MIXR</h1>
  <p>Drink! Drank! Drunk!</p>
  <a class="button" href="/login">Click to log in</a>
  <a class="button" href="/register">Click to sign up</a>
</body>

</html>
