.drink-list-entry {

}

.drink-list-entry-image {
  width: 50%;
  height: 50%;
}

/* .drink-list-entry-title {
  color: #bbc3c8;
  background: #292929;
  display: inline-block;
  font-family: 'Georgia',
  serif; font-style: italic;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 20px 18px;
  padding: 10px 12px 8px;
  position: absolute;
  bottom: -36px;
} */
