.sidebar {
  padding: 10px;
  height: auto;
  margin: auto;
  margin-top: 30px;
  margin-left: 10px;
  width: 33.6%;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
  color: #222;
  background-color: #8e9498;
  border-radius: 10px;
  box-shadow: 43x 3px 2px #333;
  opacity: 1;
  float: left;
  border: 2px solid black;
  text-align: center;
  float: right;
}

.drink-list {
  cursor: pointer;
  word-wrap: break-word;
  margin-top: 5px;
  /* font-size: 1em; */
  padding: 10px;
  border-radius: 10px;
  /* font-family: 'Droid Sans', sans-serif; */
  background-color: rgba(34, 49, 63, 0.8);
  color: #fff;
  transition: 0.2s ease-out;
  margin-right: 20px;

  /* color: #bbc3c8;
  background: #292929; */
  display: inline-block;
  font-family: 'Georgia', serif; font-style: italic;
  font-size: 20px;
  line-height: 22px;
  /* margin: 0 0 20px 18px; */
  /* padding: 10px 12px 8px; */
  /* position: absolute; */
  /* bottom: -36px; */
}
