.ingredient-container {
  cursor: alias;
  height: 600px;
  width: 500px;
  perspective: 1000px;
  position: relative;
  margin: auto;
  transition: ease-in;
  word-wrap: break-word;
}

.buttonContainer {
  margin-right: 300px;
  text-align: center;
}

.button {
  font-size: 1.5em;
  border: none;
  width: 70px;
  height: 70px;
  display: block;
  text-decoration: none;
  color: #ecf0f1;
  box-shadow: 0px 6px #2c3e50;
  background: #34495e;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer; 
  border: 2px solid white; 
}

.button:active {
  border: none;
  position: relative;
  top: 3px;
  box-shadow: 0px 0px #2c3e50;
  background: #2c3e50;
}
