.exit-button {
  color: #AA9;
  font-weight: bold;
  float: left;
  cursor: pointer;
  font-size: 1em;
  margin-right: 5px;
}

.exit-button:hover {
  color: #AC2500;
}

.drink-page {
  cursor: alias;
  height: 600px;
  width: 500px;
  perspective: 1000px;
  position: relative;
  margin: auto;
  transition: ease-in;
  word-wrap: break-word;
}